@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    color: white;
}

.header {
    /* border: 1px solid tomato; */
    height: 100vh;
    background: linear-gradient(to bottom,
            transparent 0%,
            rgba(67, 66, 66, 0.5) 50%,
            transparent 140%);
}

.section{
    /* border: 2px solid teal; */
}
.main{
    /* border: 2px solid fuchsia; */
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.website-name {
    font-weight: 800;
    font-size: 2.25rem;
    color: #E6533C;
    font-style: italic;
}

.lines hr {
    display: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 190px;
    margin-right: 190px;
}

.navbar-option {
    border: 1px solid #FFFFFF;
    display: flex;
    gap: 47px;
    border: 1px solid rgb(73, 71, 71);
    border-radius: 39px;
    padding: 3px;
    align-items: center;
    margin-left: 450px;
}

.navbar-list-item {
    font-size: 1.125rem;
    color: white;
}

.navbar-list-item1 {
    font-size: 1.125rem;
    color: white;
    background-color: #E6533C;
    border-radius: 46px;
    font-weight: 600;
    padding: 10px;
    width: 70px;
    text-align: center;
}

.last {
    padding-right: 20px;
}








.title {
    margin-left: 190px;
    /* margin-right: 730px; */
    max-width: 520px;
}

.title-head-line {
    font-size: 4.8rem;
    margin-bottom: 28px;
}

.title-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}

.button {
    display: flex;
    gap: 20px;
}

.button-1 {
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    width: 224px;
    height: 54px;
}

.button-2 {
    background-color: black;
    border: 1px solid white;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    width: 224px;
    height: 54px;
}

.button-text {
    margin-bottom: 500px;
}

.description {
    display: flex;
    gap: 50;
}

.header-image {
    width: 349px;
    height: 580px;
    margin-left: 300px;
    margin-right: 214px;
}

.button-3 {
    width: 150px;
    height: 100px;
    border: 2px solid rgb(82, 80, 77);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.266);
    color: white;
    text-align: left;
    padding-left: 24px;
    margin-top: -440px;
    margin-left: 550px;
    position: absolute;
}

.button-3-first {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1px;
    margin-top: -0.01px;
    margin-top: 10px;
}

.button-3-description {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}

.circle {
    width: 35px;
    height: 35px;
    background-color: #E6533C;
    border-radius: 50%;
}

.button-4 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 170px;
    height: 100px;
    border: 2px solid rgb(82, 80, 77);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.147);
    color: white;
    text-align: left;
    padding-left: 24px;
    position: absolute;
    margin-top: -140px;
    margin-left: 170px;
}

.button-4-first {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1px;
    margin-top: -0.01px;
    margin-top: 10px;
}

.button-4-description {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}




/* Change Habit */

.change-habit{
    margin-left: 198px;
    margin-right: 198px;
}

.change-habit-header{
    align-items: center;
    margin-left: 186px;
    margin-right: 186px;
    text-align: center;
}

.change-habit-title{
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 10px;
}
.change-habit-description{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 671px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}
.card-image{
    border-radius: 50%;
}


.cards{
    margin-top: 70px;
    display: flex;
    gap: 120px;
}
.card{
    text-align: center;
}
.card-title{
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 15px;
}

.card-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}



.main{
    flex-direction: column;
    /* border: 2px solid tomato; */
}



/* run extra miles styles */

.run-extra{
    margin-left: 190px;
    /* margin-right: 190px; */
    max-width: 1100px;
    background-color: rgba(34, 34, 34, 1);
    border: none;
    margin-top: 100px;
    border-radius: 18px;
    padding-left: 54px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    display: flex;
}
.run-extra-first{
    margin-right: 165px;
}
.run-extra-description{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
    max-width: 443px;
}
.run-main-image{
    width: 376px;
    height: 330px;
    border-radius: 18px;
   object-fit: none;
   object-position:66% 28%;
   margin-left: 90px;
}
.run-extra-title{
    font-size: 3rem;
    max-width: 443px;
}






/* BMI calculator */
.bmi-calculator{
    max-width: 670px;
    margin-left: 400px;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 80px;
}
.bmi-chart{
    margin-left: 189px;
}
.calculator-title{
    font-size: 3rem;
    margin-bottom: 20px;
}
.calculator-description{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-main-portion{
    max-width: auto;
    background-color: rgba(34, 34, 34, 1);
}
.bmi-chart-title{
    font-size: 1.75rem;
}
.bmi-table{
    border-collapse: collapse;
    text-align: left;
}
.bmi-table th, .bmi-table td{
    padding: 13px 41px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-table th{
    color: 1rem;
}
.bmi-table td{
    color: rgba(255, 255, 255, 0.5);
}
.bmi-calculation{
    max-width: 577px;
}
.bmi-calculation-title{
    font-size: 1.75rem;
}
.bmi-calculation-description{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}


.bmi-calculation-table td{
    width: 282px;
}

.input{
    width: 282px;
    height: 48px;
    border: none;
    padding-left: 14px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.688);
    
}
.bmi-calculation-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.last{
    width: 572px;
}
.last-input{
    grid-column: span 2;
}

.bmi-main-portion{
    display: flex;
    gap: 175px;
}
.btn-calculate{
    margin-top: 20px;
    margin-bottom: 40px;
}
/* .bmi-last{
    margin-bottom: 20px;
} */





















/* Responsive */
@media screen and (max-width: 576px) {
    .description {
        flex-direction: column;
    }

    .nav-bar,
    .title,
    .header-image {
        margin-left: 20px;
    }
    .header-image{
        margin-right: auto;
    }
    .navbar-option {
        display: none;
    }

    .title-head-line {
        font-size: 3.2rem;
    }

    .image-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .button-3 {
        margin-top: -520px;
        margin-left: 210px;
        width: 130px;
    }

    .button-4 {
        margin-top: -320px;
        margin-left: 20px;
    }

    .lines hr {
        display: block;
        width: 25px;
        margin: 4px 0;
    }

    .lines {
        margin-left: 160px;
    }
    .header {
        height: 100vh;
        background: linear-gradient(to bottom,
                transparent 0%,
                rgba(84, 83, 83, 0.5) 50%,
                transparent 140%);
    }
    .cards{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .card{
        max-width: 230px;
    }
    .last-card{
        margin-bottom: 66px;
    }
    .main{
        /* border:1px solid tomato; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        /* border: 2px solid tomato; */
    }
    .change-habit{
        margin-left: 0;
        margin-right: auto;
        margin-top: 390px;
        text-align: center;
    }
    .change-habit-title{
        font-size: 2rem;
    }
    .change-habit-header{
        margin-right: auto;
        margin-left: auto;
    }

    .run-extra{
        max-width: 300px;
        background-color: rgba(34, 34, 34, 1);
        border: none;
        margin-top: 60px;
        border-radius: 18px;
        padding: 33px;
        flex-direction: column;
        margin-left: auto;
        margin-bottom: 60px;
    }
    .run-extra-description{
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 40px;
        max-width: 443px;
    }
    .run-main-image{
        width: 287px;
        height: 170px;
        border-radius: 18px;
       object-fit: none;
       object-position:63% 25%;
       margin-top: 20px;
       margin-left: auto;
       /* margin-left: 90px; */
    }
    .run-extra-button{
        width: 287px;
        height: 54px;
    }
    .run-extra-title{
        font-size: 2rem;
        max-width: 287px;
    }
    .run-extra-first{
        margin-right: auto;
    }
}